spring:
  application:
    name: spring-zuul-gateway
  profiles:
    active: dev
  http:
    encoding:
      enabled: true
      force: true
      charset: UTF-8

server:
  port: 10089

eureka:
  client:
#    register-with-eureka: false
#    fetch-registry: false
    service-url:
          defaultZone: http://localhost:8100/eureka

zuul:
  routes: #给服务配置路由
    custom-route:
      service_id: SPRING-LOGSTASH
      path: /logrouting/**


logging:
  config: classpath:logback-spring.xml
  
