<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true"  debug="true">
    <!--<include resource="org/springframework/boot/logging/logblogback-base.xml.xml"/>-->
    <jmxConfigurator/>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <contextName>zuul-gateway</contextName>



    <springProfile name="dev">

        <include resource="org/springframework/boot/logging/logback/logback-base.xml"/>

        <!--<logger name="com.huyibo" level="DEBUG" additivity="false">-->
            <!--<appender-ref ref="APP_FILE"/>-->
        <!--</logger>-->
        <!--<root>-->
            <!--<level value="INFO" />-->
            <!--<appender-ref ref="CONSOLE"/>-->
        <!--</root>-->

    </springProfile>


</configuration>
