<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <contextName>spring-common</contextName>

    <conversionRule conversionWord="ip" converterClass="com.huyibo.springcommon.config.LogIpConfig" />

    <springProfile name="dev">
        <property name="LOG_HOME" value="./logs"/>
        <property name="APP_LOG_FILE" value="${LOG_HOME}/app.log"/>
        <property name="ROLLING_APP_LOG_FILE" value="${LOG_HOME}/app.%d{yyyy-MM-dd}.log"/>
        <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %ip %-5level [%thread] %logger{36} - %msg%n"/>
        <property name="CONSOLE_lOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %ip %-5level [%thread] %logger{36} - %msg%n"/>


        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <file>${APP_LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${ROLLING_APP_LOG_FILE}</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>

        <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>192.168.139.130:4560</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>

        <logger name="com.huyibo" level="INFO" additivity="false">
            <appender-ref ref="APP_FILE"/>
            <appender-ref ref="STASH"/>
        </logger>

        <root>
            <level value="INFO" />
            <appender-ref ref="CONSOLE"/>
        </root>

    </springProfile>


</configuration>
